/* logo color hex #00573D */
/* link to color pallette: http://paletton.com/#uid=5380u0kw0gynNp8rIkHH5bORx6K */

.tig-menu-header {
  background-color: rgb(126, 126, 126);
  color: #ffffff;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.tig-menu-header:hover {
  background-color: rgb(34, 132, 102);
  color: #ffffff;
}

.tig-navbar {
  margin-right: 20px;
}

/* Bootstrap overides */
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 87, 60);
}

.btn-outline-success {
  color: rgb(90, 174, 45);
  border-color: rgb(90, 174, 45);
}

.btn-outline-success:hover {
  background-color: rgb(90, 174, 45);
  border-color: rgb(90, 174, 45);
}

.btn-outline-success.focus, .btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(90, 174, 45,.5);
}

.btn-outline-success:not([disabled]):not(.disabled).active, .btn-outline-success:not([disabled]):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
  background-color: rgb(90, 174, 45);
  border-color: rgb(90, 174, 45);
  box-shadow: 0 0 0 0.2rem rgba(0,87,60,.5);
}

.form-control:focus {
  border-color: rgb(90, 174, 45);
  box-shadow: 0 0 0 0.2rem rgba(90, 174, 45,.5);
}

.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.dropdown-menu {
  font-size: 0.95rem;
  padding: 0;
  border-radius: 0;
}